@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learning about Azure Security - Key Vault</p>
    <br /><hr />

    <p>Role : @ViewBag.Role</p>
    <p>SecretRole : @ViewBag.SecretRole</p>
    <p>SecretCountry : @ViewBag.SecretCountry</p>
</div>
